.App {
  
}

h1 {
    justify-content: center;
}

#destination-autocomplete {
    background-color: rgb(248, 252, 195);
}

.dest-items {
    font-size: 10pt;
}

.dest-group {
    border: 1px solid rgb(136, 136, 136);
    border-radius: 4px;
    padding: 6pt 0pt 24pt 12pt;

}

.mySubmit {
    display: flex;
    justify-content: flex-end;
}

.alert-row-class{
    background-color: rgb(209, 209, 209);
}